$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.2s;
    -moz-animation-duration:0.2s;
    animation-duration:0.2s;
}

.fade-in.one {
-webkit-animation-delay: 0s;
-moz-animation-delay: 0s;
animation-delay: 0s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

body {
    max-width: 90%;
    margin: 0 auto;
    background-color: coral;
}



.media {
    cursor: pointer;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
}

.col-md-8 {
    margin: inherit;
}

.navbar {
    margin: 0 auto;
    background-color: darkorange;
    width: 100%;
    z-index: 50;
    float: none;
    
}

.row {
    margin: 0 auto;
}

#update {
    margin: 0 auto;
    max-width: 90%;
}

#infoModal {
   background-color:rgb(255,255,255);
    
}

#navheader {
    color: white;
    font-size: 46px;
}

#navglyph {
    color: white;
    font-size: 46px;
    margin-top: 10px;
}

@media (min-width: 767px) {}

@media (max-width: 874px) {
    #navheader {
        color: white;
        font-size: 30px;
    }
    #navglyph {
        color: white;
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    #navglyph {
        display: none;
    }
}

@media (max-width: 456px) {
    #navheader {
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 332px) {
    #navheader {
        color: white;
        font-size: 20px;
    }
}