$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    max-width: 1000px;
    margin: auto;
}

.steady {    
    position:fixed;
    top:0;    
    z-index:50;
    
    margin: auto; 
}

.absolute {    
    float: right;
    
}

#infoModal {
    background-color: white;
    margin: auto; 
    
}

.media{
    cursor: pointer;   
}

.col-md-8{
    padding-top: 90px;
}

.navbar {
    margin: auto;
    background-color:darkorange;
    
}