$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
    max-width: 90%;
    margin: 0 auto;
    background-color: coral;
}



.media {
    cursor: pointer;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
}

.col-md-8 {
    margin: inherit;
}

.navbar {
    margin: 0 auto;
    background-color: darkorange;
    width: 100%;
    z-index: 50;
    float: none;
    
}

.row {
    margin: 0 auto;
}

#update {
    margin: 0 auto;
    max-width: 90%;
}

#infoModal {
   background-color:rgb(255,255,255);
    
}

#navheader {
    color: white;
    font-size: 46px;
}

#navglyph {
    color: white;
    font-size: 46px;
    margin-top: 10px;
}

@media (min-width: 767px) {}

@media (max-width: 874px) {
    #navheader {
        color: white;
        font-size: 30px;
    }
    #navglyph {
        color: white;
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    #navglyph {
        display: none;
    }
}

@media (max-width: 456px) {
    #navheader {
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 332px) {
    #navheader {
        color: white;
        font-size: 20px;
    }
}