<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lentodiili appi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
    

<body ng-app="lentodiilitApp" ng-controller="dealsCtrl">
    <div ng-controller="weatherCtrl">
        <nav class="navbar navbar-default steady">

            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    
                    <h1 id="navheader" class="navbar-brand"  ng-click="getAll()">Huokeet reissut</h1>
                    <span id="navglyph" class="navbar-brand glyphicon glyphicon-certificate" ></span> 
                    
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li id="all" ng-click="getAll()" type="submit" class="btn btn-default navbar-btn"  data-target="#bs-example-navbar-collapse-1">
                            Kaikki Diilit
                        </li>
                        <li id="flight" ng-click="getFlights()" type="submit" class="btn btn-default navbar-btn"  data-target="#bs-example-navbar-collapse-1">
                            Lennot
                        </li>
                        <li id="travel" ng-click="getTravels()" type="submit" class="btn btn-default navbar-btn"  data-target="#bs-example-navbar-collapse-1">
                            Matkat
                        </li>
                        <li id="hotel" ng-click="getHotels()" type="submit" class="btn btn-default navbar-btn"  data-target="#bs-example-navbar-collapse-1">
                            Hotellit
                        </li>
                        <li id="other" ng-click="getOthers()" type="submit" class="btn btn-default navbar-btn"  data-target="#bs-example-navbar-collapse-1">
                            Muut
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
       





        <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <!-- Add your site or application content here -->
        <div class="row ">


            <div class="absolute" ng-show="showTravel">
                <matkatarjoukset></matkatarjoukset>
            </div>


            <div class="absolute" ng-show="showAll">
                <deals></deals>
            </div>

            <div class="absolute" ng-show="showFlight">
                <lentotarjoukset></lentotarjoukset>
            </div>

            <div class="absolute" ng-show="showHotel">
                <hotellitarjoukset></hotellitarjoukset>
            </div>

            <div class="absolute" ng-show="showOther">
                <muuttarjoukset></muuttarjoukset>
            </div>
            <div>
                <infomodal></infomodal>
            </div>
            
        </div>

    </div>




    <footer>
        <div ng-controller="updateCtrl">
            <update></update>
            <br>
            <p style="text-align: center;">Data is provided by <strong><a href="http://apisuomi.fi/apis/lentodiilit/api/">Lentodiilit Unofficial Open API</a></strong> and <strong><a href="http://openweathermap.org/api">OpenWeatherMap</a></strong>
 </p>
        </div>
        
    </footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/dealsCtrl.js"></script>
    <script src="scripts/controllers/updateCtrl.js"></script>
    <script src="scripts/controllers/categoriesCtrl.js"></script>
    <script src="scripts/controllers/weatherCtrl.js"></script>

    <script src="scripts/directives/deals.js"></script>
    <script src="scripts/directives/update.js"></script>
    <script src="scripts/directives/categories.js"></script>
    <script src="scripts/directives/matkatarjoukset.js"></script>
    <script src="scripts/directives/lentotarjoukset.js"></script>
    <script src="scripts/directives/muuttarjoukset.js"></script>
    <script src="scripts/directives/hotellitarjoukset.js"></script>
    <script src="scripts/directives/infomodal.js"></script>

    <script src="scripts/services/AjaxFactory.js"></script>
    <script src="scripts/services/AerisFactory.js"></script>
    <!-- endbuild -->
</body>

</html>