<div class="col-md-8 col-md-offset-4">
    <h2> Kaikki Diilit</h2>
    <p></p>
    <div class="panel panel-default">
        <div class=panel-body>
            <ul class=media-list id=deals>
                <li ng-repeat="deal in deals" ng-class="{red: hover}" 
    >
                    <div class="media" data-toggle="modal" data-target="#infoModal" ng-click="prepare(deal)" >
                        
                        <div class="media-body" >
                            <h4 class="media-heading">{{ deal.title }}</h4>
                            
                            
                            
                            <hr>
                        </div>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</div>
