<!--<li class="dropdown" >
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Suodata
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="category in categories" ng-click="select(category.name)" ng-controller="dealsCtrl"><a href="#">{{ category.name }}</a></li>
            
            
        </ul>
    </li>-->

<h2>Kategoriat</h2>
  
  <form role="form">
    <div class="checkbox">
      <label><input type="checkbox" >Näytä kaikki</label>
    </div>
    <div class="checkbox" ng-repeat="category in categories" >
      <label><input type="checkbox"  ng-click="select()" ng-model="cname">{{ category.name }}</label>
    </div>
    
  </form>